<!DOCTYPE HTML>
<HTML ng-app="app">

<HEAD>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="C:/Users/bishnoit/Documents/Ang/FrontendRepo/style.css" rel="stylesheet">
</HEAD>

<body>

    <!--Learning about ng-class-->
    <input type="text" ng-model="one">
    <input type="text" ng-model="two">
    <div ng-class="[one, two]">
        REM(Root EM) equals the font size of the HTML element(root element)
    </div>
    <img style="visibility: hidden" src="https://www.google.co.in/logos/classicplus.png">
    <!-- input box to toggle a variable to true or false -->
    <input type="checkbox" ng-model="awesome"> Are You Awesome?
    <input type="checkbox" ng-model="giant"> Are You a Giant?
    <div id="transform" class="transformStyle">Learning Transform style</div>
    <!-- add the class 'text-success' if the variable 'awesome' is true -->
    <div ng-class="{ 'text-success': awesome, 'text-large': giant }">
        Awesome</div>
    <!--Learning about Customer Directives-->
    <input type="number" ng-model="value" min="0" max="100">
    <customdir class="o" ng-style="{width: value +'%'}">
        {{value}}
    </customdir>
    <div>
        <h1>Learning Semantic Text Markup</h1>
        <code><del>This is del tag, it shows deleted word</del> and corrected word
    <s>This is s tag, similar to del tag</s>
    <ins datetime="2011-01-23T10:07:25+00:00"><strong>Please note:</strong> I am not a programmer(This is ins tag, it shows text underlined).</ins>
    </code>
        <code>
    <blockquote>
      
  <p>&ldquo;
    A lie gets halfway around the world before the truth has a chance to get its pants on.&rdquo;
    <mark><b>Sir Winston Churchill(This is mark tag, it highlights the words)</b></mark>
  </p>
</blockquote>
<cite class="well">Cite: Whenever you reference a name of a film or song or website or sculpture or article, mark it up with the {cite} element. It gives css of font-style: Italic</cite>
<q class="well nextLine"> q: This element is simply used to mark up inline quotations; quotes that are in the context of surrounding copy.</q>
  </code>
    </div>
    <h1>Learning Table and Form creation using HTML Form elements</h1>
    <div>
        <form>
            <div class="form-group">
                Email: <input type="email" class="form-control" required="required">
            </div>
            <div>
                <label>Checkboxes: </label> <input type="checkbox">
                <label>Radio: </label> <input type="radio">
            </div>
            <div class="form-group">
                <select class="form-control">Select options:
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
            <tr>
                <td>TarunaB</td>
                <td>100</td>
            </tr>


        </table>
    </div>
    <div id="elementVisit">First div
        <p>Second Para
            <div>Third Div</div>
        </p>
    </div>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="/angularlearning.js"></script>-->
    <script src="C:/Users/bishnoit/Documents/Ang/FrontendRepo/code.js"></script>
</body>

</HTML>