.t {
    background-color: yellow;
    float: right;
}

.transformStyle.transformStyle {
    color: red ;
}
.transformStyle {
font-weight: bold;
transform: translate(100px,10px);
color: blue !important;
}

 ul#awesome #must-buy {
    color: red;
 }
 .favorite span {
    color: blue;
 }

.o {
    display: block;
    background-color: red;
    max-width:1000px;
    margin-left: 30px;
}

.text-success {
    background-color: green;
}

.text-large {
    font-size: 200px;
}

.nextLine {
    display: inline-block;
    margin: 10px;
}

body {
    margin: 20px 0 0 30px;
}

.table{
    width: 50%;
    margin: 20px;
    outline: 2px Solid sienna;
}